@page "/products"

<PageTitle>Products</PageTitle>

@using TuraProductsViewer.Shared;
@*@using Serilog;*@

@inject CreatorService PDFCreatorService
@inject DataRetriever.API.ProductsData ApiService
@inject ReadFileService FileService
@inject ImageService ImageService
@inject IJSRuntime JSRuntime
@inject ILogger<TuraProducts> logger;

<div class="page-header">
    <div class="page-title">
        <h3>Products</h3>
    </div>
</div>

<div class="row layout-top-spacing" id="cancel-row">
    <div class="col-xl-8 col-lg-8 col-sm-8  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <p>
                Please Note that you need to choose Currency before searching or uploading products to get the right Unit Price.
                <br />
                Language is flexible and can be changed even after added products to the Creator.
            </p>

            <hr />

            <InputFile OnChange="@onReadFile" class="btn btn-outline-primary mb-2" style="float:right" />

            <div class="col-lg-4 col-md-2 col-sm-2">

                <div class="dropdown filter custom-dropdown-icon" style="float:left">
                    <a class="dropdown-toggle btn" href="#" role="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="text">@PDFCreatorService.CurrencyCode</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>

                    <div class="dropdown-menu dropdown-menu-right" style="float:left">
                        <a class="dropdown-item" data-value="SEK" @onclick=@(() => this.SetCurrency("SEK"))>SEK</a>
                        <a class="dropdown-item" data-value="NOK" @onclick=@(() => this.SetCurrency("NOK"))>NOK</a>
                        <a class="dropdown-item" data-value="DKK" @onclick=@(() => this.SetCurrency("DKK"))>DKK</a>
                        <a class="dropdown-item" data-value="EUR" @onclick=@(() => this.SetCurrency("EUR"))>EUR</a>
                    </div>
                </div>

                <div class="dropdown filter custom-dropdown-icon" style="float:right">
                    <a class="dropdown-toggle btn" href="#" role="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="text">@PDFCreatorService.Language</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>

                    <div class="dropdown-menu dropdown-menu-right" style="float:left">
                        <a class="dropdown-item" data-value="Swedish" @onclick=@(() => this.SetLanguage("Swedish"))>Swedish</a>
                        <a class="dropdown-item" data-value="Norwegian" @onclick=@(() => this.SetLanguage("Norwegian"))>Norwegian</a>
                        <a class="dropdown-item" data-value="Finnish" @onclick=@(() => this.SetLanguage("Finnish"))>Finnish</a>
                        <a class="dropdown-item" data-value="Danish" @onclick=@(() => this.SetLanguage("Danish"))>Danish</a>
                        <a class="dropdown-item" data-value="English" @onclick=@(() => this.SetLanguage("English"))>English</a>
                    </div>
                </div>

            </div>

            <br /><br /><br /><br />

            <div class="col-lg-6" style="float:left">
                @*<input type="text" @bind-value=@searchText class="w-100 form-control product-search br-30" id="input-search" placeholder="Search Products" @onkeydown="@Enter">*@
                <input type="text" value="@this.searchText" @oninput=@((e) => this.searchText = (string)e.Value) class="w-100 form-control product-search br-30" id="input-search" placeholder="Search Products" @onkeydown="@Enter">
                @*<button class="btn btn-outline-primary btn-rounded mb-2" @onclick=@searchProductFromAPI>Search</button>*@
            </div>

            <div class="col-lg-4 col-md-2 col-sm-2" style="float:left">
                <button class="btn btn-outline-primary btn-rounded mb-2" @onclick=@searchProductFromAPIAsync>Search</button>
            </div>

            <br /><br />

            <div class="table-responsive mb-4 mt-4">

                @if (this.productData == null && this.searchText == string.Empty)
                {
                    @*<div class="spinner-border text-primary align-self-center"> </div>*@
                    <hr />
                    <b> Use the search box to search for an product. </b>
                }
                else
                {
                    <table id="multi-column-ordering" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (this.productNotFound)
                            {
                                <tr>Product not found, please enter a valid product ID.</tr>
                            }
                            else if (this.productData == null || this.productData.VariantId == null || this.productData.VariantId.Equals(string.Empty))
                            {
                                @*<div class="spinner-border text-primary align-self-center"> </div>*@
                                <tr> Use the search box to search for an product. </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="usr-img-frame mr-2 rounded-circle">
                                                @*<img alt="avatar" class="img-fluid rounded-circle" src="@ImageService.GetImagePath(productData.VariantId)">*@
                                                <img alt="avatar" class="img-fluid rounded-circle" src="@ImageService.GetWebImagePath(productData.VariantId)">
                                            </div>
                                        </div>
                                    </td>
                                    <td>@productData.VariantId</td>
                                    <td>@productData.GetItemName(PDFCreatorService.Language)</td>
                                    <button class="btn btn-primary mb-2" @onclick=@(() => addToPdfCreator(productData))>Add</button>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                }
            </div>
        </div>
    </div>

    @*<div class="col-xl-4">
    <InputFile OnChange="@onFileUpload" class="btn btn-outline-primary mb-2" />
    </div>*@

    <PDFCreatorBar @ref="pdfCreatorBar" />
</div>

@code {
    private PDFCreatorBar? pdfCreatorBar;
    private string searchText = string.Empty;
    private DataRetriever.Models.ProductsDataModel? productData;
    private bool productNotFound = false;

    protected override async Task OnInitializedAsync()
    {
        //Log.Information("OnInitializedAsync");
        //logger.LogInformation("OnInitializedAsync");
    }

    public async Task Notify()
    {
        await JSRuntime.InvokeVoidAsync("alertUser", "Test");
        await JSRuntime.InvokeAsync<object>("alertUser", "Test");
    }

    /// <summary>
    /// Enter Search
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await this.searchProductFromAPIAsync();
        }
    }

    /// <summary>
    /// Searches for given Product Id from the through the API Async
    /// </summary>
    public async Task searchProductFromAPIAsync()
    {
        //Task.Run(() => this.productData = ApiService.GetProductsDataAsync(this.searchText, this.FinalizeCurrencyCode
        this.productData = null;

        await Task.Run(async () => this.productData = await ApiService.GetProductsDataAsync(this.searchText, this.PDFCreatorService.CurrencyCode));

        if (this.productData == null || productData.VariantId == null || this.productData.VariantId.Equals(string.Empty))
        {
            this.productNotFound = true;
        }
        else
        {
            this.productNotFound = false;
        }
    }

    /// <summary>
    /// Searches for given Product Id from the through the API
    /// </summary>
    public void searchProductFromAPI()
    {
        //Task.Run(() => this.productData = ApiService.GetProductsDataAsync(this.searchText, this.FinalizeCurrencyCode
        this.productData = null;


        this.productData = ApiService.GetProductsData(this.searchText, this.PDFCreatorService.CurrencyCode);


        if (this.productData == null || productData.VariantId == null || this.productData.VariantId.Equals(string.Empty))
        {
            this.productNotFound = true;
        }
        else
        {
            this.productNotFound = false;
        }
    }

    /// <summary>
    /// Sets Layout & Product language in Creator Service.
    /// </summary>
    public void SetLanguage(string language)
    {
        PDFCreatorService.Language = language;
        this.pdfCreatorBar?.RefreshState();
    }

    /// <summary>
    /// Sets the Currency
    /// </summary>
    /// <param name="currency"></param>
    public void SetCurrency(string currency)
    {
        PDFCreatorService.CurrencyCode = currency;
        this.pdfCreatorBar?.RefreshState();
    }

    /// <summary>
    /// Adds given Product to the Creator Service
    /// </summary>
    private void addToPdfCreator(DataRetriever.Models.ProductsDataModel product)
    {
        if (PDFCreatorService.ContainsProduct(product))
        {
            //Notify user
            return;
        }

        PDFCreatorService.AddProduct(product);

        if (this.pdfCreatorBar != null)
        {
            pdfCreatorBar.RefreshState();
        }
        else
        {
            //Notify User
        }
    }

    /// <summary>
    /// Read uploaded file
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task onReadFile(InputFileChangeEventArgs e)
    {
        if (e.File.ContentType == "text/plain")
        {
            await this.onTextFileUploadWithPrices(e);
        }
        else if (e.File.ContentType == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
        {
            await this.onExcelFileUploadWithPrices(e);
        }
    }

    /// <summary>
    /// Reads uploaded .xlsx file and adds the products to the Creator Service
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task onExcelFileUploadWithPrices(InputFileChangeEventArgs e)
    {
        var products = await FileService.ReadFromUploadedExcelFileFileWithPrices(e);

        if (products != null && products.Count > 0)
        {
            foreach (var product in products)
            {
                //var productDataFromFile = ApiService.GetProductsData(product.Key, PDFCreatorService.CurrencyCode);

                DataRetriever.Models.ProductsDataModel? productDataFromFile = null;
                await Task.Run(async () => productDataFromFile = await ApiService.GetProductsDataAsync(product.Key, PDFCreatorService.CurrencyCode));

                if (productDataFromFile != null)
                {
                    if (product.Value != string.Empty && product.Value != null)
                    {
                        double price;
                        if (double.TryParse(product.Value, out price))
                        {
                            productDataFromFile.SetSpecialCustomerEditedPrice(price);
                        }
                    }

                    if (productDataFromFile == null || productDataFromFile.VariantId == null || productDataFromFile.VariantId.Equals(string.Empty))
                    {

                    }
                    else
                    {
                        this.addToPdfCreator(productDataFromFile);
                    }
                }
            }

            this.productData = null;
        }
    }

    /// <summary>
    /// Reads uploaded .txt file and adds the products to the Creator Service
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task onTextFileUploadWithPrices(InputFileChangeEventArgs e)
    {
        var products = await FileService.ReadFromUploadedFileWithPrices(e);

        if (products != null && products.Count > 0)
        {
            foreach (var product in products)
            {
                //var productDataFromFile = ApiService.GetProductsData(product.Key, PDFCreatorService.CurrencyCode);

                DataRetriever.Models.ProductsDataModel? productDataFromFile = null;
                await Task.Run(async () => productDataFromFile = await ApiService.GetProductsDataAsync(product.Key, PDFCreatorService.CurrencyCode));

                if (productDataFromFile != null)
                {
                    if (product.Value != string.Empty && product.Value != null)
                    {
                        double price;
                        if (double.TryParse(product.Value, out price))
                        {
                            productDataFromFile.SetSpecialCustomerEditedPrice(price);
                        }
                    }

                    if (productDataFromFile == null || productDataFromFile.VariantId == null || productDataFromFile.VariantId.Equals(string.Empty))
                    {

                    }
                    else
                    {
                        this.addToPdfCreator(productDataFromFile);
                    }
                }
            }

            this.productData = null;
        }
    }
}
